* {/*Selecciona todos los elementos*/
margin:0px;  /*Elimina el margen, o lo estable a cero*/
padding:0px; /*Elimina el margen, o lo estable a cero*/
}
			
#header {
margin:auto;/*Define el margen del header, con relacion al inicio de pagina*/
width:500px;/*Define el ancho del header*/
font-family:Comic sans-serif, Helvetica, sans-serif;/*Define el tipo de letra, ademas de que si el navegador no soporta dicho tipo de letra, se agregan unos de emergencia.*/
}

ul, ol {
list-style:none;/*Elimina el estilo predeterminado de las listas*/
}
	
.nav > li {
float:left;/*Dice en que orden pondra los elementos de la lista, de izquiera a derecha */
}
	
.nav li a {
background-color:darkgreen;/*Define el color de fondo*/
color:#fff;/*Define el color de la letra*/
text-decoration:none;/*Establece el tipo de decoración de texto que se usará, como subrayado, linea de salida o linea superpuesta*/
padding:10px 12px;/*Define cuanto sera el grosor de los elementos, ancho y alto*/
display:block;/*Define como mostrar los siguientes elemntos al mover el cursor, en cuadros, uno sobre otros, etc.inline-grid, inline-table, list-item, run-in*/
}

.nav li a:hover {
background-color:orange;/*Define el color del contorno del enlace cuando pase el mouse sobre él  */
}
	
.nav li ul {
display:none;/*Define como mostrar los siguientes elemntos al mover el cursor, en cuadros, uno sobre otros, etc. inline-grid, inline-table, list-item, run-in*/
position:absolute;/*Define como interactuan los demas elementos del menu, en relacion al pasar el mouse sobre otro elemento,absolute, fixed, relative.*/
min-width:140px; /*Define el ancho minimo de un elemento*/
}

.nav li:hover > ul {
display:block;/*Define como se veran los elementos al pasar el cursor sobre ellos.*/
}

.nav li ul li {
position:relative;/*Define como se vera el siguiente elemento segun su posicion,absolute, fixed, relative.*/
}

.nav li ul li ul {
right:-140px;/*Define la posicion del siguiente elemento*/
top:0px;/*Define la posicion del siguiente elemento*/
}
}

