header{
position:relative;
background-color:#0B476D;
color:#FFF;
width:98%;
height:13%;
margin: 0px auto;
}
section{
position:relative;
float:left;
background-color:#A7DDA7;
width:78%;
height:58%;
color:#FFF;
}
article{
background-color:#CEF19E;
width:98%;
height:58%;
color:#FFF;
}
aside{
position:relative;
background-color:#CEF19E;
width:18%;
height:55%;
color:#FFF;
float:left;
}
footer{
position:relative;
background-color:#CEF19E;
width:98%;
height:5%;
color:#FFF;
clear:both;
text-align: right;
}
header,section,footer,aside,article,nav{
margin:1%;
}
.row > div{
		padding: 10px;
		background: #ddd;
		border: 1px solid #fff;
		margin: 6px;
		background-color:#A7DDA7;	
	}
.row{
	margin: 40px auto;
}	
}
img{
	width:20px;
	height:20px;
}







